div{
   display:grid
}

.wrapper{
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   grid-template-columns: repeat(2, 1fr);
}

.cat1{
   grid-column: 1;
   grid-row: 1;
   background-color: rgb(#ff3340);
}

.cat2{
   grid-column: 2;
   grid-row: 1;
   background-color: rgb(#33ff00);
}

.cat3{
   grid-column: 1;
   grid-row: 2;
   background-color: rgb(#4033ff);
}

.cat4{
   grid-column: 2;
   grid-row: 2;
   background-color: rgb(#403300);
}

