body{
   padding: 0px;
   margin: 0px;
   background-color: #505050;
}

div{
   display: grid;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 10vh;
   word-wrap: break-word;
}

.wrapper{
   /*grid styling*/
   grid-template-columns: repeat(2, 1fr);
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 5px;

   grid-auto-rows: minmax(auto, auto);
   grid-auto-columns: minmax(auto, auto);

   /*other styling*/
   width: 100vw;
   height: 100vh;
}

div>div{
   border-radius: 20%;
   border-color: black;
   border-width: 10px;
   border-style: solid;

   align-items: center;
   text-align: center;

   -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: background-color 0.5s ease-in-out;
}

.cat1{
   grid-column: 1;
   grid-row: 1;
   background-color: #2469ff;
}

.cat2{
   grid-column: 2;
   grid-row: 1;
   background-color: #55ff6b;
}

.cat3{
   grid-column: 1;
   grid-row: 2;
   background-color: #ff3b3b;
}

.cat4{
   grid-column: 2;
   grid-row: 2;
   background-color: #fffc57;
}

.cat1:hover{
   background-color: #2469ff70;
}

.cat2:hover{
   background-color: #55ff6b70;
}

.cat3:hover{
   background-color: #ff3b3b70;
}

.cat4:hover{
   background-color: #fffc5770;
}


.back{
   grid-row: 1 / 2;
   grid-column: 1 / 2;
   
   font-size: 40px;
   background-color: #ff3737;
}

.back:hover{
   background-color: #ff0000;
}



